<label for="id">id</label>
                    <!--Reemplaza los datos del autor que se pasa por parámetro (< % = cosa)-->
<input type="text" id="id" name="id" value="<%= ejercicio.id %>">
<br>
<label for="titulo">titulo</label>
<input type="text" name="titulo" id="titulo" value="<%= ejercicio.titulo %>">
<br>
<label for="descripcion">descripcion/label>
<input type="text" name="descripcion" id="descripcion" value="<%= ejercicio.descripcion%>">

<br>
<label for="tipoTarea">tipo de tarea</label>
<input type="text" name="tipoTarea" id="tipoTarea" value="<%= ejercicio.tipoTarea %>">

<br>
<label for="scriptPreparacion">script de preparacion</label>
<input type="text" name="scriptPreparacion" id="scriptPreparacion" value="<%= ejercicio.scriptPreparacion%>">

<br>
<label for="respuesta">Respuesta</label>
<input type="text" name="respuesta" id="respuesta" value="<%= ejercicio.respuesta %>">


<br>
<label for="scriptComprobar">script para comprobar</label>
<input type="text" name="scriptComprobar" id="scriptComprobar" value="<%= ejercicio.scriptComprobar %>">
